include ./widget/sidebar

.row
  .col-sm-3.col-md-2.sidebar
    ul.nav.nav-sidebar
      li.active
        a(href='#') Overview
      li
        a(href='#') Reports
      li
        a(href='#') Analytics
      li
        a(href='#') Export
    ul.nav.nav-sidebar
      li
        a(href='') BTC-e
      li
        a(href='') Bitstamp
      li
        a(href='') atlasats
      li
        a(href='') bic-china
      li
        a(href='') cryptsy
      li
        a(href='') Bitfinex
