h3.sub-header BTC-e
   
   .table-responsive
     table.table.table-striped
       thead
         tr
           th 
           th Buy Orders
           th Sell Orders
         tr
           th BTC/USD
           th Price $
           th Quantity
           th USD
           th Price $
           th Quantity
           th USD
       tbody
         tr
           td 
           td 440.736
           td 0.0360
           td 15.87
           td 443.176
           td 0.0689
           td 30.52
         tr
           td 
           td 440.736
           td 0.0360
           td 15.87
           td 443.176
           td 0.0689
           td 30.52
         tr
           td
           td 440.736
           td 0.0360
           td 15.87
           td 443.176
           td 0.0689
           td 30.52
         tr
           td
           td 440.736
           td 0.0360
           td 15.87
           td 443.176
           td 0.0689
           td 30.52
