extends layout


block content
    .container-fluid
      include header
      //include _sidebar
      //include dashboard
      
      h2.sub-header Orders
      .row(data-columns="24")
        .col
          .row
            .col-md-6.col-sm-12.bg-primary
              h5 BTC-e
          .row
            .col-md-3.col-sm-6.bg-success
              h5 Buy Orders
            .col-md-3.col-sm-6.bg-warning
              h5 Sell Orders
          .row
            .col-md-1.col-sm-2.bg-success
              p Price
            .col-md-1.col-sm-2.bg-success
              p Quantity
            .col-md-1.col-sm-2.bg-success
              p USD
            .col-md-1.col-sm-2.bg-warning
              p Price
            .col-md-1.col-sm-2.bg-warning
              p Quantity
            .col-md-1.col-sm-2.bg-warning
              p USD
            .col-md-2.col-sm-4.bg-warning
              p 
          .row
            .col-md-1.col-sm-2
              ul.list-group#btce_bidprice
            .col-md-1.col-sm-2
              ul.list-group#btce_bidqty
            .col-md-1.col-sm-2
              ul.list-group#btce_bidcurr
            .col-md-1.col-sm-2
              ul.list-group#btce_askprice
            .col-md-1.col-sm-2
              ul.list-group#btce_askqty
            .col-md-1.col-sm-2
              ul.list-group#btce_askcurr
            .col-md-2.col-sm-4
          .row
            .col-md-2.col-sm-4
              p.pull-right vwap
            .col-md-1.col-sm-2
              ul#btce_ask_vwap
            .col-md-2.col-sm-4
              p.pull-right vwap
            .col-md-1.col-sm-2
              ul#btce_bid_vwap
            .col-md-2.col-sm-4
        .col
          .row
            .col-md-6.col-sm-12.bg-primary
              h5 Bitstamp
          .row
            .col-md-3.col-sm-6.bg-success
              h5 Buy Orders
            .col-md-3.col-sm-6.bg-warning
              h5 Sell Orders
          .row
            .col-md-1.col-sm-2.bg-success
              p Price
            .col-md-1.col-sm-2.bg-success
              p Quantity
            .col-md-1.col-sm-2.bg-success
              p USD
            .col-md-1.col-sm-2.bg-warning
              p Price
            .col-md-1.col-sm-2.bg-warning
              p Quantity
            .col-md-1.col-sm-2.bg-warning
              p USD
            .col-md-2.col-sm-4.bg-warning
              p 
          .row
            .col-md-1.col-sm-2
              ul.list-group#bitstamp_bidprice
            .col-md-1.col-sm-2
              ul.list-group#bitstamp_bidqty
            .col-md-1.col-sm-2
              ul.list-group#bitstamp_bidcurr
            .col-md-1.col-sm-2
              ul.list-group#bitstamp_askprice
            .col-md-1.col-sm-2
              ul.list-group#bitstamp_askqty
            .col-md-1.col-sm-2
              ul.list-group#bitstamp_askcurr
          .row
            .col-md-2.col-sm-4
              p.pull-right vwap
            .col-md-1.col-sm-2
              ul#bitstamp_ask_vwap
            .col-md-2.col-sm-4
              p.pull-right vwap
            .col-md-1.col-sm-2
              ul#bitstamp_bid_vwap

      h2.sub-header Trades
      .row
        .col-md-6.col-sm-12.bg-primary
          h5 BTC-e
      .row
        .col-md-1.col-sm-2.bg-success
          p Date
        .col-md-1.col-sm-2.bg-success
          p Txn Id
        .col-md-1.col-sm-2.bg-success
          p Price
        .col-md-1.col-sm-2.bg-success
          p Amount
        .col-md-1.col-sm-2.bg-success
          p Type
        .col-md-1.col-sm-2.bg-success
          p ---
      .row
        .col-md-1.col-sm-2
          ul.list-group#btce_tradedate
        .col-md-1.col-sm-2
          ul.list-group#btce_tradeid
        .col-md-1.col-sm-2
          ul.list-group#btce_tradeprice
        .col-md-1.col-sm-2
          ul.list-group#btce_tradeqty
        .col-md-1.col-sm-2
          ul.list-group#btce_tradetype
        .col-md-1.col-sm-2

    
    script.
      $(document).ready(function() {
      
        function vwap(data) {
              var total_vol = 0;
              var running_vwap = 0;
              _.each(data, function(item) {
                  var vol = item["amount"];
                  total_vol += vol;
                  var price = item["price"];
                  running_vwap += (vol * price);
                  //console.log('vol: '+vol+' * price: '+price+' = running vwap: '+running_vwap);
              });
              var vwap = 0;
              if(total_vol != 0)
                  vwap = (running_vwap / total_vol);
              return vwap;
          };
                  
          function additem(element, data, property) {
            // The ul for output.
            var list = document.getElementById( element );
            list.className="list-group list-unstyled";
            $('#'+element).empty();
            // Display the sorted array.
            var n = 0;
            _.each( data, function( item ) {

                var val = null;
                if( property != "price_currency" ) {
                  if( item && property && item[property] ) {
                    val = item[property].toFixed(2);
                  }
                } else {
                  if( item ) {
                    val = (item["price"] * item["amount"]).toFixed(4);
                  }
                }

                var li = document.createElement( "li" );
                li.appendChild( document.createTextNode( val ) );
                $(li).effect("highlight", {}, 1000);
                list.appendChild( li );
            });
          };


          function pushitem(element, data, property) {
            // The ul for output.
            var list = document.getElementById( element );
            list.className="list-group list-unstyled";
            $('#'+element).empty();
            // Display the sorted array.
            var n = 0;
            _.each( data, function( item ) {

                var val = null;
                //if( property != "price" ) {
                  //if( item && property && item[property] ) {
                  //  val = item[property].toFixed(2);
                 // }
                //} else {
                //  if( item ) {
                    val = item[property];
                 // }
               // }

                var li = document.createElement( "li" );
                li.appendChild( document.createTextNode( val ) );
                $(li).effect("highlight", {}, 1000);
                //if( list.size() == 0 ) {
                  list.appendChild( li );
                //} else {
                 // list.insertBefore( li, list.firstChild() )
                //}
            });
          };
          
          function addvwap(element, data) {
            $("#"+element).empty();
            var vw = document.getElementById( element );
            var vwapval = vwap(data);
            //console.log(element+" = "+vwapval);
            vw.appendChild( document.createTextNode(vwapval.toFixed(2)) );
          };
          

          var sockjs = new SockJS('http://'+document.domain+':3001/multiplex/');
          var multiplexer = new WebSocketMultiplex(sockjs);
          
          var btce_ask = multiplexer.channel('btce_ask');
          var btce_bid = multiplexer.channel('btce_bid');
          var bitstamp_ask = multiplexer.channel('bitstamp_ask');
          var bitstamp_bid = multiplexer.channel('bitstamp_bid');
          var btce_trades = multiplexer.channel('btce_trades');

          btce_trades.onmessage = function(data) {
            console.log(' trade = ' + JSON.stringify(data));
            var val = JSON.parse(data["data"]);
            pushitem("btce_tradedate", val, "date");
            pushitem("btce_tradeid", val, "tid");
            pushitem("btce_tradeprice", val, "price");
            pushitem("btce_tradeqty", val, "amount");
            pushitem("btce_tradetype", val, "trade_type");
          };
                    
          btce_ask.onmessage = function(data) {
            console.log(' revd = ' + JSON.stringify(data));
            var val = JSON.parse(data["data"]);
            additem("btce_askprice", val, "price");
            additem("btce_askqty", val, "amount");
            additem("btce_askcurr", val, "price_currency");
            addvwap("btce_ask_vwap", val);
          };
          
          btce_bid.onmessage = function(data) {
            console.log(' revd = ' + JSON.stringify(data));
            var val = JSON.parse(data["data"]);
            additem("btce_bidprice", val, "price");
            additem("btce_bidqty", val, "amount");
            additem("btce_bidcurr", val, "price_currency");
            addvwap("btce_bid_vwap", val);
          };

          bitstamp_ask.onmessage = function(data) {
            console.log(' revd = ' + JSON.stringify(data));
            var val = JSON.parse(data["data"]);
            additem("bitstamp_askprice", val, "price");
            additem("bitstamp_askqty", val, "amount");
            additem("bitstamp_askcurr",val, "price_currency");
            addvwap("bitstamp_ask_vwap", val);
          };
          
          bitstamp_bid.onmessage = function(data) {
            console.log(' revd = ' + JSON.stringify(data));
            var val = JSON.parse(data["data"]);
            additem("bitstamp_bidprice", val, "price");
            additem("bitstamp_bidqty", val, "amount");
            additem("bitstamp_bidcurr", val, "price_currency");
            addvwap("bitstamp_bid_vwap", val);
          };
      });
