extends layout


block content
    .container-fluid
      include header
      //include _sidebar
      //include dashboard
      
      h2.sub-header Trades
      .row(data-columns="24")
        .col
          .row
            .col-md-6.bg-primary
              h5 BTC-e
          .row
            .col-md-3.bg-success
              h5 Buy Orders
            .col-md-3.bg-warning
              h5 Sell Orders
          .row
            .col-md-1.bg-success
              p Price
            .col-md-1.bg-success
              p Quantity
            .col-md-1.bg-success
              p USD
            .col-md-1.bg-warning
              p Price
            .col-md-1.bg-warning
              p Quantity
            .col-md-1.bg-warning
              p USD
            .col-md-2
          .row
            .col-md-1
              ul.list-group#btce_bidprice
            .col-md-1
              ul.list-group#btce_bidqty
            .col-md-1
              ul.list-group#btce_bidcurr
            .col-md-1
              ul.list-group#btce_askprice
            .col-md-1
              ul.list-group#btce_askqty
            .col-md-1
              ul.list-group#btce_askcurr
            .col-md-2
          .row
            .col-md-2
              p.pull-right vwap
            .col-md-1
              ul#btce_ask_vwap
            .col-md-2
              p.pull-right vwap
            .col-md-1
              ul#btce_bid_vwap
            .col-md-2
          .col
            .row
              .col-sm-6.col-lg-6.bg-primary
                h5 Bitstamp
            .row
              .col-sm-3.col-lg-3.bg-success
                h5 Buy Orders
              .col-sm-3.col-lg-3.bg-warning
                h5 Sell Orders
            .row
              .col-sm-1.col-lg-1.bg-success
                p Price
              .col-sm-1.col-lg-1.bg-success
                p Quantity
              .col-sm-1.col-lg-1.bg-success
                p USD
              .col-sm-1.col-lg-1.bg-warning
                p Price
              .col-sm-1.col-lg-1.bg-warning
                p Quantity
              .col-sm-1.col-lg-1.bg-warning
                p USD
            .row
              .col-sm-1.col-lg-1
                ul.list-group#bitstamp_bidprice
              .col-sm-1.col-lg-1
                ul.list-group#bitstamp_bidqty
              .col-sm-1.col-lg-1
                ul.list-group#bitstamp_bidcurr
              .col-sm-1.col-lg-1
                ul.list-group#bitstamp_askprice
              .col-sm-1.col-lg-1
                ul.list-group#bitstamp_askqty
              .col-sm-1.col-lg-1
                ul.list-group#bitstamp_askcurr
            .row
              .col-sm-2.col-lg-2
                p.pull-right vwap
              .col-sm-1.col-lg-1
                ul#bitstamp_ask_vwap
              .col-sm-2.col-lg-2
                p.pull-right vwap
              .col-sm-1.col-lg-1
                ul#bitstamp_bid_vwap

    
    script.
      $(document).ready(function() {
      
        function vwap(data) {
              var total_vol = 0;
              var running_vwap = 0;
              _.each(data, function(item) {
                  var vol = item["amount"];
                  total_vol += vol;
                  var price = item["price"];
                  running_vwap += (vol * price);
                  //console.log('vol: '+vol+' * price: '+price+' = running vwap: '+running_vwap);
              });
              var vwap = 0;
              if(total_vol != 0)
                  vwap = (running_vwap / total_vol);
              return vwap;
          };
                  
          function additem(element, data, property) {
            // The ul for output.
            var list = document.getElementById( element );
            list.className="list-group list-unstyled";
            $('#'+element).empty();
            // Display the sorted array.
            var n = 0;
            _.each( data, function( item ) {

                var val = null;
                if( property != "price_currency" ) {
                  if( item && property && item[property] ) {
                    val = item[property].toFixed(2);
                  }
                } else {
                  if( item ) {
                    val = (item["price"] * item["amount"]).toFixed(4);
                  }
                }
               // if( n > list.size() ) {
                  var li = document.createElement( "li" );
                  //li.className = "list-group-item";
                  li.appendChild( document.createTextNode( val ) );
                  $(li).effect("highlight", {}, 1000);
                  list.appendChild( li );
                //} else {
                  // update the current item
                  //var li = document.getElementById( element );
                  //var originalval = li.text();
                  //li.text( val );
                  //if( val != originalval ) {
                   // li.effect("hightlight", {}, 500);
                  //}
                //}
                //n++;
            });
          };

          function addvwap(element, data) {
            $("#"+element).empty();
            var vw = document.getElementById( element );
            var vwapval = vwap(data);
            //console.log(element+" = "+vwapval);
            vw.appendChild( document.createTextNode(vwapval.toFixed(2)) );
          };
          

          var sockjs = new SockJS('http://'+document.domain+':3001/multiplex/');
          var multiplexer = new WebSocketMultiplex(sockjs);
          
          var btce_ask = multiplexer.channel('btce_ask');
          var btce_bid = multiplexer.channel('btce_bid');
          var bitstamp_ask = multiplexer.channel('bitstamp_ask');
          var bitstamp_bid = multiplexer.channel('bitstamp_bid');
          
          btce_ask.onmessage = function(data) {
            console.log(' revd = ' + JSON.stringify(data));
            var val = JSON.parse(data["data"]);
            additem("btce_askprice", val, "price");
            additem("btce_askqty", val, "amount");
            additem("btce_askcurr", val, "price_currency");
            addvwap("btce_ask_vwap", val);
          };
          
          btce_bid.onmessage = function(data) {
            console.log(' revd = ' + JSON.stringify(data));
            var val = JSON.parse(data["data"]);
            additem("btce_bidprice", val, "price");
            additem("btce_bidqty", val, "amount");
            additem("btce_bidcurr", val, "price_currency");
            addvwap("btce_bid_vwap", val);
          };

          bitstamp_ask.onmessage = function(data) {
            console.log(' revd = ' + JSON.stringify(data));
            var val = JSON.parse(data["data"]);
            additem("bitstamp_askprice", val, "price");
            additem("bitstamp_askqty", val, "amount");
            additem("bitstamp_askcurr",val, "price_currency");
            addvwap("bitstamp_ask_vwap", val);
          };
          
          bitstamp_bid.onmessage = function(data) {
            console.log(' revd = ' + JSON.stringify(data));
            var val = JSON.parse(data["data"]);
            additem("bitstamp_bidprice", val, "price");
            additem("bitstamp_bidqty", val, "amount");
            additem("bitstamp_bidcurr", val, "price_currency");
            addvwap("bitstamp_bid_vwap", val);
          };
      });
