extends layout

block content
    .container-fluid
      include header
      //include _sidebar
      //include dashboard
      
      h2.sub-header Trades
      .row
        .col-sm-6.col-lg-6
          h4 BTC-e
      .row
        .col-sm-3.col-lg-3
          h4 Buy Orders
        .col-sm-3.col-lg-3
          h4 Sell Orders
      .row
        .col-sm-1.col-lg-1
          p Price $
        .col-sm-1.col-lg-1
          p Quantity
        .col-sm-1.col-lg-1
          p USD
        .col-sm-1.col-lg-1
          p Price $
        .col-sm-1.col-lg-1
          p Quantity
        .col-sm-1.col-lg-1
          p USD
      .row
        .col-sm-1.col-lg-1
          ul.list-group#bidprice
        .col-sm-1.col-lg-1
          ul.list-group#bidqty
        .col-sm-1.col-lg-1
          ul.list-group#bidcurr
        .col-sm-1.col-lg-1
          ul.list-group#askprice
        .col-sm-1.col-lg-1
          ul.list-group#askqty
        .col-sm-1.col-lg-1
          ul.list-group#askcurr
     

    script(src="http://localhost:3001/socket.io/socket.io.js")
    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    // Latest compiled and minified CSS
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    // Optional theme
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css')
    link(href="//www.fuelcdn.com/fuelux/2.6.1/css/fuelux.min.css", rel="stylesheet")
    link(href="//www.fuelcdn.com/fuelux/2.6.1/css/fuelux-responsive.css", rel="stylesheet")
    link(rel='stylesheet', href="stylesheets/sidebar.css")
    
    // Latest compiled and minified JavaScript
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
    script(src="http://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js")
    

    script.
      $(document).ready(function() {
      
      
          function additem(element, data, property) {
            // The ul for output.
            var list = document.getElementById( element );
            $('#'+element).empty();
            // Display the sorted array.
            _.each( data, function( item ) {
                var li = document.createElement( "li" );
                var val = null;
                if( property != "price_currency" ) {
                  val = item[property];
                } else {
                  val = item["price"] * item["amount"];
                }
                li.appendChild( document.createTextNode( val ) );
                list.appendChild( li );
            });
          };
          
          //console.log('doc ready....');
          //subscibe to socket
          var socket = io.connect('http://localhost:3001/');
          socket.on('btce_ask', function(data) {
            console.log(' revd = ' + JSON.stringify(data));
            additem("askprice", data["ask_data"], "price");
            additem("askqty", data["ask_data"], "amount");
            additem("askcurr", data["ask_data"], "price_currency");
          });
          
          socket.on('btce_bid', function(data) {
            console.log(' revd = ' + JSON.stringify(data));
            additem("bidprice", data["bid_data"], "price");
            additem("bidqty", data["bid_data"], "amount");
            additem("bidcurr", data["bid_data"], "price_currency");
          });

      });
